extends ../layout.pug
block content
  .col-8
      //- h3(style="text-align:center") #{data.employee.firstName} #{data.employee.lastName}
      form(action="/employee/availability", method="post")
        table(class="table")
            //- for each day
            tbody
              tr
                td(colspan=3) (select multiple timeslots by holding ctrl and click)
              tr
                td Day
                td Select new
                td Availability
              each day in data.days
                tr
                  th
                    h5 #{day.name}
                  td

                    select(class=" dropdown-toggle selectpicker" #propertyType.select.form-control.input-lg name='slots' multiple)
                      div(class="dropdown-menu" aria-labelledby="dropdownMenuButton")
                        option(class="dropdown-item" href="#" name=`day` id='dayId' value=0) --select--
                          each ds in data.eachDaySlots
                            //- for each slot for a day
                            if(ds.dayId == day.id)
                              //- if the day's id matches to the dayId on slot
                              each s in data.slots
                                //- for each slot in all slots
                                if(s.id == ds.slotId)
                                  //- if that slot's id matched to the slotId on slots for day then print it
                                  option(class="dropdown-item" href="#" name=`day` id='dayId' value=`${ds.id}`) #{s.startTime} - #{s.endTime}
                  each avail in data.employee[0]
                      each ds in data.eachDaySlots
                        if(avail.daySlotId === ds.id)
                          if(day.id == ds.dayId)
                            each slot in data.slots
                              if(slot.id == ds.slotId)
                                td
                                  h6 (#{slot.startTime} - #{slot.endTime})
        button(type="submit" class="btn btn-outline-success") Save
        script(src='/public/lib/jQuery/jquery.js')
        script(src='/public/javascripts/main.js')


