extends ../layout.pug
block content
  .col-8
    form(action=`/manager/edit-employee/${data.employee.id}?_method=PUT`, method="POST")
      table(class="table")
        tbody
          tr
            th(colspan=2)
              h1 Personal Details
          tr
            th First Name
            td
              input(type="text" name="firstName" id="firstName" value=`${data.employee.firstName}`)
          tr
            th Last Name
            td
              input(type="text" name="lastName" id="lastName" value=`${data.employee.lastName}`)
          tr
            th Date Of Birth
            td
              input(type="date" name="dob" id="dob" value=`${data.employee.dob}` required)
          tr
            th Phone Number
            td
              input(type="text" name="phoneNumber" id="phoneNumber" value=`${data.employee.phoneNumber}`)
          tr
            th Email
            td
              input(type="text" name="email" id="email" value=`${data.employee.email}`)
          tr
            th(colspan=2)
              h1 Employment Details
          tr
            th Employee ID
            td #{data.employee.employeeId}
          tr
            th Department
            td
              select(class="btn btn-light dropdown-toggle" #propertyType.select.form-control.input-lg name='department')
                div(class="dropdown-menu" aria-labelledby="dropdownMenuButton")
                  each dept in data.depts
                    if(data.employee.Department.name == dept.name)
                      option(class="dropdown-item" href="#" name="deptName" id="dept.id" selected=true value=`${dept.id}`) #{dept.name}
                    else
                      option(class="dropdown-item" href="#" name="deptName" id="dept.id" value=`${dept.id}`) #{dept.name}

          tr
            th JobTitle
            td
              select(class="btn btn-light dropdown-toggle" #propertyType.select.form-control.input-lg name='jobTitle')
                div(class="dropdown-menu" aria-labelledby="dropdownMenuButton")
                  each title in data.jobTitle
                    if(data.employee.jobTitle == title.jobTitle)
                      option(class="dropdown-item" href="#" name="jobTitle" id="jobTitle" selected=true) #{title.jobTitle}
                    else
                      option(class="dropdown-item" href="#" name="jobTitle" id="jobTitle" ) #{title.jobTitle}
          tr
            th Start Date
            td
              input(type="date" name="startDate" id="startDate" value=`${data.employee.startDate}`)
          tr
            th End Date
            if(data.employee.endDate != null)
              td
                ex-employee (#{data.employee.endDate})
            else
              td
                input(type="date" name="endDate" id="endDate")
          tr
            th Total Hours
            td
              input(type="number" name="totalHours" id="totalHours" required)
          tr
            th Notes
            td
              input(type="textarea" name="notes" id="notes" value=`${data.employee.notes}`)
          tr
            th(colspan=2)
              h1 Emergency Contact Details
          tr
            th Name
            td #{data.employee.ecFirstName} #{data.employee.ecLastName}
          tr
            th Contact
            td #{data.employee.ecPhoneNumber}
          tr
            th Last Updated
            td #{data.employee.updatedAt}
          tr
            td(colspan=2)
              button(type="submit" class="btn btn-outline-primary" href=`/manager/employee-details/${data.employee.id}`) Save
              script(src='/public/lib/jQuery/jquery.js')
              script(src='/public/javascripts/main.js')