extends ../layout.pug
block content
  .col-12
    form(action=`/manager/manager-schedule`, method="POST")
      table(class="table")
        tbody
          tr
            th
            each day in data.days
              th #{day.name}
            tr
              th
              each date in data.dates
                th #{date.slice(0, 10)}
          each emp in data.employees
            tr
              if(emp.jobTitle == 'manager')
                td #{emp.firstName} #{emp.lastName}
                each day in data.days
                  td
                    select(class="btn btn-light dropdown-toggle" #propertyType.select.form-control.input-lg name='slots')
                      div(class="dropdown-menu" aria-labelledby="dropdownMenuButton")
                        option(class="dropdown-item" href="#" name=`day` id='dayId' value=0) --select--
                          each ds in data.eachDaySlots
                            //- for each slot for a day
                            if(ds.dayId == day.id)
                              //- if the day's id matches to the dayId on slot
                              each s in data.slots
                                //- for each slot in all slots
                                if(s.id == ds.slotId)
                                  //- if that slot's id matched to the slotId on slots for day then print it
                                  option(class="dropdown-item" href="#" name=`day` id='dayId' value=`${ds.id}:${day.id}`) #{s.startTime} - #{s.endTime}
        button(type="submit") Save