extends ../layout.pug
block content
  .col-12
    form(action=`/manager/schedule`, method="POST")
      table(class="table")
        tbody
          tr
            th
            each day in data.days
              th #{day.name}
            tr
              th
              each date in data.dates
                th #{date}
          each emp in data.employees
            if(emp.jobTitle !== 'manager')
              tr
                td #{emp.firstName} #{emp.lastName}
                each day in data.days
                  td
                    select(class="btn btn-light dropdown-toggle form-control test" #propertyType.select.form-control.input-lg name='slots')
                      div(class="dropdown-menu" aria-labelledby="dropdownMenuButton")
                        option(class="dropdown-item" href="#" name=`day` id='dayId' value=0) OFF
                          each ds in data.eachDaySlots
                            //- for each slot for a day
                            each avail in data.avail
                              if(ds.id == avail.daySlotId && emp.id == avail.employeeId)
                                if(ds.dayId == day.id)
                                  //- if the day's id matches to the dayId on slot
                                  each s in data.slots
                                    //- for each slot in all slots
                                    if(s.id == ds.slotId)
                                      //- if that slot's id matched to the slotId on slots for day then print it
                                      option(class="dropdown-item test2" href="#" name=`day` id=`${emp.id}${ds.id}` value=`${emp.id}:${ds.id}:${day.id}:${s.id}`) #{s.startTime} - #{s.endTime}
      button(type="submit" class="btn btn-success") Done
      script(src='/public/lib/jQuery/jquery.js')
      script(src='/public/javascripts/main.js')



